VITE_LOCAL_MODE=backend
VITE_LOCAL_BACKEND_ORIGIN=http://localhost:8000
VITE_ALLOW_REMOTE_API=false
VITE_DEV_HOST=localhost
VITE_DEV_PORT=5173
VITE_DEV_HTTPS=true
VITE_DEV_HTTPS_CERT_FILE=../volumes/certs/local/tls.crt
VITE_DEV_HTTPS_KEY_FILE=../volumes/certs/local/tls.key
VITE_AUTH_NAMESPACE=local
