.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.greeting {
  border-bottom: solid 2px rgba(246, 247, 249);
  padding:20px;
}

.dashboard {
  background-color: rgba(248, 250, 252);
  flex: 1;
  padding:20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 16px;
  padding: 16px;
  align-content: start;
}